.dashboard-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page-content{
  width: 600px;
  height: 420px;
  padding: 20px;
  box-shadow: 0 0 4px 0 #bfbdbd;
  background: white;
}
.zero-margin{
  margin:0;
}
.bold-text{
  font-weight: 900;
}
.blue-text{
  color: #29338e
}
.context-box{
  border: 1px solid grey;
    padding: 0 20px;
    margin: 20px 0;
}
.small-img{
  max-width: 100%;
  height: 30px;
  position: relative;
  left: -20px;
}
.medium-img{
  max-width: 100%;
  height: 40px;
  position: relative;
  left: 0px;
}
.large-img{
  max-width: 100%;
  height: 50px;
  position: relative;
  left: -7px;
}
.plus-img{
  width: 24px;
  cursor: pointer;
}
.minus-img{
  width:27px;
  cursor: pointer;
}
.pizza-count{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pizza-count-content{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.added-count{
  margin: 0 14px;
}
.pizza-box-content{
    display: flex;
    justify-content: space-between;
}
.size-text{
  margin:0 10px;
  text-transform: uppercase;
}
.category-row{
  border-top: 1px solid grey;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.context-box-content{
  padding: 20px 0;
}
.total-container{
  display: flex;
    justify-content: space-between;
    padding: 0 20px;
}